.header-img {
    height: 5%;
    width: 5%;
}

header {
    background: lightcyan;

}

header h1 {
    display: inline;
    font-family: 'Times New Roman';
    color: chocolate;
}
main{
    background: darkslategray;
}
main h3{
    color: aliceblue;
}
main strong{
    color: aliceblue;
}
main p{
    color: aliceblue;
}

.rightimage img{
    
    width: 10%;
    height: 10%;
}
.princimage img{
    width: 45%;
    height: 45%;
}
.paragraph {
    position: absolute;
    top: 400px;
    left: 10px;
    text-decoration: underline;
    
}
.video {
    position: absolute;
    top: 450px;
    left: 10px;
    
}
footer{
    border: 2px solid green;
    width: 20%;
    background-color:coral;
}
.button {
    background-color: rgb(130, 56, 10); color: orange;/* Green */
    border: none;
    border-radius: 10px;
    
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button2 {background-color: rgb(130, 56, 10);color: orange;} /* Blue */
  .button3 {background-color: rgb(130, 56, 10);color: orange;} /* Red */ 
  .button4 {background-color: rgb(130, 56, 10); color: orange;} /* Gray */ 
  .button5 {background-color: rgb(130, 56, 10);color: orange;} /* Black */

form{
    border: 5px solid red;
    padding: 5%;
    background-color: aqua;
}